<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit activity info:</h3>
    <form
      method="POST"
      action="/activities/<%= activity._id  %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label" required>Title</label>
        <input
          type="text"
          name="activity[title]"
          value=" <%= activity.title %>"
          class="form-control"
          required
        />
        <br />
        <div class="valid-feedback"></div>
      </div>

      <div>
        <label for="description" class="form-label" required>Description</label>
        <textarea name="activity[description]" class="form-control" required>
<%= activity.description %></textarea
        >
        <div class="invalid-feedback">Please enter short description.</div>
      </div>

      <div class="emb-3">
        Present Activity Image <br />
        <img
          class="edit-page-img-viewer mb-3 mt-2"
          src="<%=originalImageUrl%>"
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label" required>Upload New Image</label>
        <input type="file" name="activity[image]" class="form-control" />
        <div class="invalid-feedback">Image error!</div>
        <br />
      </div>

      <div class="row">
        <div class="col-md-2">
          <label for="ageCriteria" class="form-label" required
            >Age required (Y)</label
          >
          <input
            name="activity[ageCriteria]"
            value=" <%= activity.ageCriteria %> "
            class="form-control"
            placeholder=" 5+"
            min="5"
            required
          />
          <div class="invalid-feedback">Please enter valid age...</div>
          <br />
        </div>

        <div class="col-md-2">
          <label for="price" class="form-label" required>Price</label>
          <input
            name="activity[price]"
            value=" <%= activity.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid price...</div>
          <br />
        </div>

        <div class="col-md-3">
          <label for="time" class="form-label" required>Time Limit</label>
          <input
            name="activity[time]"
            value=" <%= activity.time %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Time limit should be valid!</div>
          <br />
        </div>
        <div class="col-md-5">
          <label for="location" class="form-label" required>Location</label>
          <input
            type="text"
            name="activity[location]"
            value=" <%= activity.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid location</div>
          <br />
        </div>

      </div>

      <button class="btn btn-dark edit-btn mb-3">Edit</button>
    </form>
  </div>
</div>
